<!doctype html>
<html lang="en">

<head>
  <!-- include head.html -->
  @@include('../layouts/head.html', {
  "title": "HTML Boilerplate"
  })
  <!-- include styles.html -->
  @@include('../layouts/styles.html')
</head>

<body>
  <div class="wrapper">
    <!-- include header.html -->
    @@include('../layouts/header.html')

    <!-- include banner.html -->
    @@include('../partials/banner.html')

    <main class="b-main">
      <section class="b-page-eat">
        <div class="container">
          <div class="b-eat">
            <div class="b-block-content">
              <div class="b-content">
                <div class="b-icon">
                  <img src="../../images/icon-eat.png" alt="Eat" />
                </div>
                <div class="b-info">
                  <h2 class="b-text-title dot-after-bottom">
                    GET INSPIRED
                  </h2>
                  <p class="b-text-norm">
                    Lorem ipsum dolor sit amet, consectetur adipisc
                    Pellentesque vel enim a elit viverra elementuma.
                    Aliquam erat volutpat.
                  </p>
                </div>
              </div>
            </div>
            <div class="b-block-content">
              <div class="b-content">
                <div class="b-icon">
                  <img src="../../images/icon-eat.png" alt="Eat" />
                </div>
                <div class="b-info">
                  <h2 class="b-text-title dot-after-bottom">
                    GET INSPIRED
                  </h2>
                  <p class="b-text-norm">
                    Lorem ipsum dolor sit amet, consectetur adipisc
                    Pellentesque vel enim a elit viverra elementuma.
                    Aliquam erat volutpat.
                  </p>
                </div>
              </div>
            </div>
            <div class="b-block-content">
              <div class="b-content">
                <div class="b-icon">
                  <img src="../../images/icon-eat.png" alt="Eat" />
                </div>
                <div class="b-info">
                  <h2 class="b-text-title dot-after-bottom">
                    GET INSPIRED
                  </h2>
                  <p class="b-text-norm">
                    Lorem ipsum dolor sit amet, consectetur adipisc
                    Pellentesque vel enim a elit viverra elementuma.
                    Aliquam erat volutpat.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="b-page-introduc">
        <div class="container">
          <div class="b-block-content">
            <div class="b-content-left">
              <img src="../../images/iphone5.png" alt="iphone5" />
            </div>
            <div class="b-content-right">
              <div class="b-info">
                <h2 class="b-text-title">
                  INTRODUCING THE FUDI APP
                </h2>
                <p class="b-text-norm">
                  Morbi eget posuere dolor. Pellentesque cursus aliquet aliquet. Aeneanet
                  felis sit amet diam mollis ullamcorper. Nullam consequat sem a ante vest
                  ibulum tristique. Suspendisse tristique lacus ac mattis porta.

                  Vivamus ligula quam, vehicula non lacinia sed, faucibus sit amet libero. In
                  libero dui, eleifend eu nisi id, egestas fringilla odio. In varius quam a mas
                  sa hendrerit ullamcorper a eu justo. Suspendisse porta mattis convallis.
                  Aenean tempus ligula ac odio rhoncus, quis aliquam dolor accumsan.

                  Suspendisse aliquet felis consectetur libero congue, sed pulvinar diam
                  malesuada. Duis vehicula a nibh id hendrerit. Donec sit amet ultrices
                  ante, a mattis massa.
                </p>
              </div>
              <div class="b-social">
                <div class="b-item">
                  <a href="#" class="b-link">
                    <img src="../../images/app-store.png" alt="App Store" />
                  </a>
                </div>
                <div class="b-item">
                  <a href="#" class="b-link">
                    <img src="../../images/app-store.png" alt="App Store" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="b-page-person">
        <div class="container">
          <div class="b-block">
            <div class="b-slider">
              <div class="b-icon">
                <img src="../../images/person.png" alt="Person" />
              </div>
              <div class="b-info">
                <p class="b-text-norm">
                  “I am so happy because I found this recipe, and it just made my life easier.
                  Thanks so much for sharing!”
                </p>
                <h3 class="b-text-person">
                  Michael Dawson, San Francisco, CA -
                </h3>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="b-page-cusiness">
        <div class="b-block-top">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 offset-lg-2">
                <h2 class="b-text-title">
                  BROWSER BY CUSINESS
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="b-block-content">
          <div class="b-item-content">
            <div class="b-info">
              <h5 class="b-text-name">
                327 Recipes
              </h5>
              <h2 class="b-text-title">
                ITALIAN
              </h2>
            </div>
          </div>
          <div class="b-item-content">
            <div class="b-info">
              <h5 class="b-text-name">
                327 Recipes
              </h5>
              <h2 class="b-text-title">
                ITALIAN
              </h2>
            </div>
          </div>
          <div class="b-item-content">
            <div class="b-info">
              <h5 class="b-text-name">
                327 Recipes
              </h5>
              <h2 class="b-text-title">
                ITALIAN
              </h2>
            </div>
          </div>
          <div class="b-item-content">
            <div class="b-info">
              <h5 class="b-text-name">
                327 Recipes
              </h5>
              <h2 class="b-text-title">
                ITALIAN
              </h2>
            </div>
          </div>
          <div class="b-item-content">
            <div class="b-info">
              <h5 class="b-text-name">
                327 Recipes
              </h5>
              <h2 class="b-text-title">
                ITALIAN
              </h2>
            </div>
          </div>
          <div class="b-item-content">
            <div class="b-info">
              <h5 class="b-text-name">
                327 Recipes
              </h5>
              <h2 class="b-text-title">
                ITALIAN
              </h2>
            </div>
          </div>
          <div class="b-item-content">
            <div class="b-info">
              <h5 class="b-text-name">
                327 Recipes
              </h5>
              <h2 class="b-text-title">
                ITALIAN
              </h2>
            </div>
          </div>
          <div class="b-item-content">
            <div class="b-info">
              <h5 class="b-text-name">
                327 Recipes
              </h5>
              <h2 class="b-text-title">
                ITALIAN
              </h2>
            </div>
          </div>
          <div class="b-item-content">
            <div class="b-info">
              <h5 class="b-text-name">
                327 Recipes
              </h5>
              <h2 class="b-text-title">
                ITALIAN
              </h2>
            </div>
          </div>
          <div class="b-item-content">
            <div class="b-info">
              <h5 class="b-text-name">
                327 Recipes
              </h5>
              <h2 class="b-text-title">
                ITALIAN
              </h2>
            </div>
          </div>
        </div>
        <div class="b-block-bottom">
          <div class="container">
            <div class="b-block-content">
              <div class="b-item-content">
                <h3 class="b-text-title">
                  23,567
                </h3>
                <p class="b-text-norm">
                  Recipes Available
                </p>
              </div>
              <div class="b-item-content">
                <h3 class="b-text-title">
                  23,567
                </h3>
                <p class="b-text-norm">
                  Recipes Available
                </p>
              </div>
              <div class="b-item-content">
                <h3 class="b-text-title">
                  23,567
                </h3>
                <p class="b-text-norm">
                  Recipes Available
                </p>
              </div>
              <div class="b-item-content">
                <h3 class="b-text-title">
                  23,567
                </h3>
                <p class="b-text-norm">
                  Recipes Available
                </p>
              </div>
              <div class="b-item-content">
                <h3 class="b-text-title">
                  23,567
                </h3>
                <p class="b-text-norm">
                  Recipes Available
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- include footer.html -->
    @@include('../layouts/footer.html')
  </div>

  <!-- include scripts.html -->
  @@include('../layouts/scripts.html')
</body>

</html>