.dot-after-bottom {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 80px;
    height: 1.5px;
    background-color: $cl_red;
    border-radius: 50% 0 50% 0;
    @include transform(translate(-50%, 0));
  }
}
body {
  background-color: $cl_white;
  @include rem("font-size", 14);
  @include rem("line-height", 32);
  margin: 0;
  padding: 0;
}
.b-page-eat {
  position: relative;
  padding: 80px 0;
  .b-eat {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    .b-block-content {
      width: 30%;
      text-align: center;
      cursor: pointer;
      .b-content {
        .b-icon {
          position: relative;
          width: 107px;
          height: 107px;
          border-radius: 100%;
          margin: 0 auto;
          border: 2px solid $cl_black;
          margin-bottom: 5px;
          img {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 50px;
            @include transform(translate(-50%, -50%));
            @include transition(all 0.3s ease-in-out);
            overflow: hidden;
          }
        }
        .b-info {
          .b-text-title {
            font-family: "Lato Bol";
            @include rem("font-size", 18);
            @include rem("line-height", 30);
            color: $cl_black;
            margin-bottom: 10px;
          }
          .b-text-norm {
            font-family: "Lato Light";
            @include rem("font-size", 16);
            @include rem("line-height", 20);
            text-align: center;
            color: $cl_black;
          }
        }
      }
    }
  }
}
