
.dot-after-bottom {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 80px;
    height: 1.5px;
    background-color: $cl_red;
    border-radius: 50% 0 50% 0;
    @include transform(translate(-50%, 0));
  }
::selection {
  background-color: rgba(75, 193, 210, 1);
}
::-webkit-scrollbar {
  width: 4px;
  border-radius: 100%;
  background: rgba(75, 193, 210, 1);
}
::-webkit-scrollbar-thumb {
  width: 4px;
  background: $cl_red;
  border-radius: 50px;
}
body {
  background-color: $cl_white;
  @include rem("font-size", 14);
  @include rem("line-height", 32);
  margin: 0;
  padding: 0;
}
.b-page-eat {
  position: relative;
  padding: 80px 0;
  .b-eat {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    .b-block-content {
      width: 30%;
      text-align: center;
      cursor: pointer;
      .b-content {
        .b-icon {
          position: relative;
          width: 107px;
          height: 107px;
          border-radius: 100%;
          margin: 0 auto;
          border: 2px solid $cl_black;
          margin-bottom: 5px;
          img {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 50px;
            @include transform(translate(-50%, -50%));
            @include transition(all 0.3s ease-in-out);
            overflow: hidden;
          }
        }
        .b-info {
          .b-text-title {
            font-family: "Lato Bol";
            @include rem("font-size", 18);
            @include rem("line-height", 30);
            color: $cl_black;
            margin-bottom: 10px;
          }
          .b-text-norm {
            font-family: "Lato Light";
            @include rem("font-size", 16);
            @include rem("line-height", 20);
            text-align: center;
            color: $cl_black;
          }
        }
      }
    }

.b-fullscreen {
  position: relative;
  right: 0;
  bottom: 0;
  height: 100vh;
  max-width: 100%;
  width: 100%;
  background-image: url("../../images/background-banner-top.png");
  background-repeat: no-repeat;
  background-size: cover;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-image: url("../../images/shadown.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .b-content {
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform-customize(translate(-50%, -50%));
    text-align: center;
    .b-text-favorite {
      font-family: "Times New Roman";
      font-style: italic;
      font-weight: bold;
      @include rem("font-size", 36);
      @include rem("line-height", 30);
      color: rgba(255, 255, 255, 0.702);
      margin-bottom: 40px;
    }
    .b-text-title {
      font-family: "Lato Bol";
      @include rem("font-size", 100);
      @include rem("line-height", 30);
      color: $cl_white;
      margin-bottom: 50px;
    }
    .b-btn {
      .b-link {
        position: relative;
        display: inline-block;
        width: 247px;
        border: 3px solid $cl_white;
        background-color: rgba(246, 150, 121, 0);
        border-radius: 3px;
        font-family: "Lato Bol";
        @include rem("font-size", 18);
        @include rem("line-height", 21, 18);
        padding: 10px 0;
        color: $cl_white;
        margin-bottom: 20px;
        overflow: hidden;
      }
    }
    .b-text-norm {
      font-family: "Lato Light";
      @include rem("font-size", 14);
      @include rem("line-height", 30);
      color: $cl_white;
    }
  }
}
/*  Ripple */

.ripple {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.702);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
  animation: rippleDrop 0.5s linear;
}

@keyframes rippleDrop {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
