$break-large: 992px;
$break-medium: 768px;
.b-page-header {
  @media screen and(max-width:$break-medium) {
    .b-register {
      display: none;
    }
  }
}
.b-fullscreen {
  @media screen and(max-width:$break-medium) {
    .b-content {
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform-customize(translate(-50%, -50%));
      text-align: center;
      .b-text-favorite {
        font-family: "Times New Roman";
        font-style: italic;
        font-weight: bold;
        @include rem("font-size", 24);
        @include rem("line-height", 30);
        color: rgba(255, 255, 255, 0.702);
        margin-bottom: 10px;
      }
      .b-text-title {
        font-family: "Lato Bol";
        @include rem("font-size", 50);
        @include rem("line-height", 30);
        color: $cl_white;
        margin-bottom: 10px;
      }
      .b-btn {
        .b-link {
          width: 150px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
