<header class="b-page-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="b-logo">
          <a href="#" class="b-link">
            <img src="../../images/logo.png" alt="Logo" />
          </a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="b-register">
          <ul class="b-list-item">
            <li class="b-item">
              <a href="#" class="b-link">LOGIN</a>
            </li>
            <li class="b-item">
              <a href="#" class="b-link">SIGN UP</a>
            </li>
            <li class="b-item">
              <a href="#" class="b-link"><i class="fas fa-bars"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>